
obj/Debug/net5.0/

.idea/.idea.libopenmetaverse-dotnet5/.idea/

newStart/obj/Debug/net5.0/

newStart/obj/

OpenMetaverse.StructuredData/obj/

OpenMetaverseTypes/obj/Debug/net5.0/

OpenMetaverseTypes/obj/

OpenMetaverse/obj/

GridProxy/obj/Debug/net5.0/

GridProxy/obj/
